<!-- @@master  = ./shared/_layout.html-->

<!-- @@block  =  content-->
<div class="container">
    <h1>Grid Test Page</h1>

    <div class="row" style="background: red">

        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">First</div>
        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">Second</div>
        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">Third</div>
        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">Fourth</div>

    </div>

    <div class="row no-gutter" style="background: black">

        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">First</div>
        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">Second</div>
        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">Third</div>
        <div class="col-xxs-24 col-xs-12 col-lg-6 col-xlg-24">Fourth</div>

    </div>

</div>
<!-- @@close-->
