<!-- @@master  = ./shared/_layout.html-->

<!-- @@block  =  content-->

<!-- @@include components/banner-carousel3.html -->

<main>
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <!-- @@include components/hotel-page/large.html {"image" : "yurtici-oteller.png", "title" : "Yurtiçi Otelleri"} -->
            </div>

            <div class="col-md-16">

                <div class="row">

                    <div class="col-sm-12">
                        <!-- @@include components/hotel-page/medium.html {"image" : "termal-oteller.png", "title" : "Termal Oteller"} -->
                    </div>

                    <div class="col-sm-12">
                        <!-- @@include components/hotel-page/medium.html {"image" : "kibris-otelleri.png", "title" : "Kıbrıs Otelleri"} -->
                    </div>

                    <div class="col-sm-24">
                        <!-- @@include components/hotel-page/small.html {"image" : "sehir-otelleri.png", "title" : "Şehir Otelleri"} -->
                    </div>

                    <div class="col-sm-24">
                        <!-- @@include components/hotel-page/small.html {"image" : "yakin-bolge-otelleri.png", "title" : "Yakın Bölge Otelleri"} -->
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-8">

                <div class="notify notify-large">
                    <a href="" title="">TEMALARA GÖRE OTELLERİ İNCELE</a>
                </div>

            </div>

            <div class="col-md-8">

                <div class="notify notify-large notify-danger">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <a href="" title="">SON DAKİKA FIRSATLARINI İNCELE</a>
                </div>

            </div>

            <div class="col-md-8">

                <div class="notify notify-large">
                    <a href="" title="">KAYAK OTELLERİNİ İNCELE</a>
                </div>

            </div>

        </div>

        <!-- @@include components/holiday-areas.html {"title" : "BÖLGELERE GÖRE OTELLER"} -->

        <div class="primary-section card-list-section">

            <h3 class="section-title">TAVSİYE ETTİĞİMİZ OTELLER</h3>

            <div class="section-body">

                <div class="row">

                    <div class="col-md-6">
                        <!-- @@include components/hotel-item.html {"image" : "small", "class" : "small-card"} -->
                    </div>

                    <div class="col-md-6">
                        <!-- @@include components/hotel-item.html {"image" : "small", "class" : "small-card"} -->
                    </div>

                    <div class="col-md-6">
                        <!-- @@include components/hotel-item.html {"image" : "small", "class" : "small-card"} -->
                    </div>

                    <div class="col-md-6">
                        <!-- @@include components/hotel-item.html {"image" : "small", "class" : "small-card"} -->
                    </div>

                </div>

            </div>

        </div>

        <section class="primary-section formatted-section">
            <h4 class="section-title">OTELLERİMİZ</h4>
            <div class="section-body">
                <img class="img-responsive" src="images/hotel-article/article-image1.jpg" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec urna volutpat, ultrices lectus id, iaculis turpis. Vivamus at tincidunt ipsum. Suspendisse eu erat lacus. Nullam dignissim luctus metus porta aliquet. Ut cursus interdum pulvinar. Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla. </p>

                <h5>Yurt İçi Otellerimiz</h5>

                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="images/hotel-article/article-image6.jpg" alt=""/>
                    </div>
                    <div class="col-md-12">
                        <ul class="">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Curabitur quis libero eget felis condimentum blandit quis quis leo.</li>
                            <li>Nunc a enim varius, sollicitudin ante non, vulputate tellus.</li>
                            <li>Phasellus efficitur neque sed lectus mattis, et sodales augue placerat.</li>
                            <li>In scelerisque tellus eu tortor placerat vestibulum vel ut nisi.</li>
                            <li>Etiam at turpis ac lectus congue euismod sit amet eu elit.</li>
                            <li>Pellentesque sed tellus elementum, dictum nibh quis, tincidunt odio.</li>
                            <li>Quisque vel erat id purus mollis tempus.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec urna volutpat, ultrices lectus id, iaculis turpis. Vivamus at tincidunt ipsum. Suspendisse eu erat lacus. Nullam dignissim luctus metus porta aliquet. Ut cursus interdum pulvinar. Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla.</p>
                        <p>Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="images/hotel-article/article-image3.jpg" alt=""/>
                            </div>
                            <div class="col-md-12">
                                <img class="img-responsive" src="images/hotel-article/article-image4.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <h5>Kıbrıs Otellerimiz</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec urna volutpat, ultrices lectus id, iaculis turpis. Vivamus at tincidunt ipsum. Suspendisse eu erat lacus. Nullam dignissim luctus metus porta aliquet. Ut cursus interdum pulvinar. Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla.</p>
                        <p>Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla</p>
                    </div>
                    <div class="col-md-12">
                        <img class="img-responsive" src="images/hotel-article/article-image6.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

<!-- @@close-->
