<!-- @@master  = ./shared/_layout.html-->

<!-- @@block  =  content-->

<!-- @@include components/banner-carousel.html -->

<main>
    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <!-- @@include components/hotel-page/large.html {"image" : "yurtici-oteller.png", "title" : "Yurtiçi Otelleri"} -->

            </div>

            <div class="col-md-16">

                <div class="row">

                    <div class="col-md-12">

                        <!-- @@include components/hotel-page/medium.html {"image" : "termal-oteller.png", "title" : "Termal Oteller"} -->

                    </div>

                    <div class="col-md-12">

                        <!-- @@include components/hotel-page/medium.html {"image" : "kibris-otelleri.png", "title" : "Kıbrıs Otelleri"} -->

                    </div>

                </div>

                <!-- @@include components/hotel-page/small.html {"image" : "sehir-otelleri.png", "title" : "Şehir Otelleri"} -->

                <!-- @@include components/hotel-page/small.html {"image" : "yakin-bolge-otelleri.png", "title" : "Yakın Bölge Otelleri"} -->

            </div>

        </div>

        <div class="row">

            <div class="col-md-8">

                <div class="notify notify-large">
                    <a href="" title="">KURBAN BAYRAMI TURLARINI İNCELE</a>
                </div>

            </div>

            <div class="col-md-8">

                <div class="notify notify-large notify-danger">
                    <a href="" title="">SEVGİLİLER GÜNÜ TURLARINI İNCELE</a>
                </div>

            </div>

            <div class="col-md-8">

                <div class="notify notify-large">
                    <a href="" title="">TÜM TURLARI İNCELE</a>
                </div>

            </div>

        </div>

    </div>
</main>

<!-- @@close-->
