<!-- @@master  = ./shared/_layout.html-->

<!-- @@block  =  content-->

<!-- @@include components/banner-carousel2.html -->

<main>
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <!-- @@include components/tour-page/large.html {"image" : "kultur-turlari.png", "title" : "Kültür Turları"} -->
            </div>

            <div class="col-md-16">

                <div class="row">

                    <div class="col-sm-24">
                        <!-- @@include components/tour-page/medium.html {"image" : "yurtdisi-turlari.png", "title" : "Yurt Dışı Turları"} -->
                    </div>

                    <div class="col-sm-12">
                        <!-- @@include components/tour-page/small.html {"image" : "mavi-yolculuk.png", "title" : "Mavi Yolculuk"} -->
                    </div>

                    <div class="col-sm-12">
                        <!-- @@include components/tour-page/small.html {"image" : "gemi-turlari.png", "title" : "Gemi Turları"} -->
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-8">

                <div class="notify notify-large">
                    <a href="" title="">KURBAN BAYRAMI TURLARINI İNCELE</a>
                </div>

            </div>

            <div class="col-md-8">

                <div class="notify notify-large notify-danger">
                    <a href="" title="">SEVGİLİLER GÜNÜ TURLARINI İNCELE</a>
                </div>

            </div>

            <div class="col-md-8">

                <div class="notify notify-large">
                    <a href="" title="">TÜM TURLARI İNCELE</a>
                </div>

            </div>

        </div>

        <!-- @@include components/holiday-areas.html {"title" : "BÖLGELERE GÖRE TURLAR"} -->

        <section class="primary-section formatted-section">
            <h4 class="section-title">TURLARIMIZ</h4>
            <div class="section-body">
                <img class="img-responsive" src="images/hotel-article/article-image1.jpg" alt=""/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec urna volutpat, ultrices lectus id, iaculis turpis. Vivamus at tincidunt ipsum. Suspendisse eu erat lacus. Nullam dignissim luctus metus porta aliquet. Ut cursus interdum pulvinar. Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla. </p>

                <h5>Kültür Turlarımız</h5>

                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="images/hotel-article/article-image2.jpg" alt=""/>
                    </div>
                    <div class="col-md-12">
                        <ul class="">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Curabitur quis libero eget felis condimentum blandit quis quis leo.</li>
                            <li>Nunc a enim varius, sollicitudin ante non, vulputate tellus.</li>
                            <li>Phasellus efficitur neque sed lectus mattis, et sodales augue placerat.</li>
                            <li>In scelerisque tellus eu tortor placerat vestibulum vel ut nisi.</li>
                            <li>Etiam at turpis ac lectus congue euismod sit amet eu elit.</li>
                            <li>Pellentesque sed tellus elementum, dictum nibh quis, tincidunt odio.</li>
                            <li>Quisque vel erat id purus mollis tempus.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec urna volutpat, ultrices lectus id, iaculis turpis. Vivamus at tincidunt ipsum. Suspendisse eu erat lacus. Nullam dignissim luctus metus porta aliquet. Ut cursus interdum pulvinar. Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla.</p>
                        <p>Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="images/hotel-article/article-image3.jpg" alt=""/>
                            </div>
                            <div class="col-md-12">
                                <img class="img-responsive" src="images/hotel-article/article-image4.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <h5>Yurt Dışı Turlarımız</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec urna volutpat, ultrices lectus id, iaculis turpis. Vivamus at tincidunt ipsum. Suspendisse eu erat lacus. Nullam dignissim luctus metus porta aliquet. Ut cursus interdum pulvinar. Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla.</p>
                        <p>Aliquam leo felis, volutpat non sapien ac, vulputate aliquam nulla. Quisque interdum ullamcorper sem, ac hendrerit lectus sollicitudin et. Phasellus eget maximus mauris, a eleifend enim. Morbi sed tincidunt elit. Fusce egestas nisl non arcu sagittis viverra. Ut vel nibh ac nulla commodo dapibus in ut nulla</p>
                    </div>
                    <div class="col-md-12">
                        <img class="img-responsive" src="images/hotel-article/article-image5.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

<!-- @@close-->