<!-- @@master  = ./shared/_layout.html-->

<!-- @@block  =  content-->

<!-- @@include components/banner-carousel.html -->

<main>
    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <!-- @@include components/tour-page/large.html {"image" : "kultur-turlari.png", "title" : "Kültür Turları"} -->
            </div>

            <div class="col-md-16">

                <!-- @@include components/tour-page/medium.html {"image" : "yurtdisi-turlari.png", "title" : "Yurt Dışı Turları"} -->

                <div class="row">

                    <div class="col-md-12">
                        <!-- @@include components/tour-page/small.html {"image" : "mavi-yolculuk.png", "title" : "Mavi Yolculuk"} -->
                    </div>

                    <div class="col-md-12">
                        <!-- @@include components/tour-page/small.html {"image" : "gemi-turlari.png", "title" : "Gemi Turları"} -->
                    </div>

                </div>

            </div>

        </div>

    </div>
</main>

<!-- @@close-->