<div class="search-box airplane-search">

    <div class="row">

        <div class="col-xxs-24 col-md-4">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-plane"></i>
                </div>

                <div class="col-wide">
                    <input type="text" class="form-control fixed-control" placeholder="Nereden">
                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-4 bordered">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-fighter-jet"></i>
                </div>

                <div class="col-wide">
                    <input type="text" class="form-control fixed-control" placeholder="Nereye">
                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-7 bordered">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-calendar"></i>
                </div>

                <div class="col-wide fixed-gutter">

                    <div class="table-row">

                        <div class="col-wide">
                            <input type="text" class="form-control reset-control date-control" readonly placeholder="Gidiş Tarihi">
                        </div>

                        <div class="col-narrow icon-addon center">
                            <i class="fa fa-long-arrow-right"></i>
                        </div>

                        <div class="col-wide">
                            <input type="text" class="form-control reset-control date-control" readonly placeholder="Dönüş Tarihi">
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-3 bordered">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-users"></i>
                </div>

                <div class="col-wide">
                    <select class="form-control fixed-control">
                        <option>Yolcu Sayısı</option>
                        <option>1 Yetişkin</option>
                        <option>2 Yetişkin</option>
                        <option>3 Yetişkin</option>
                        <option>4 Yetişkin</option>
                        <option>5 Yetişkin</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-3 bordered">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-calendar"></i>
                </div>

                <div class="col-wide">
                    <select class="form-control fixed-control">
                        <option>Sınıf</option>
                        <option>En Uygun</option>
                        <option>Promosyon</option>
                        <option>Ekonomi</option>
                        <option>Business</option>
                        <option>First</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-3">
            <button class="btn btn-orange btn-block btn-sharp">
                <i class="fa fa-search"></i> ARA
            </button>
        </div>

    </div>

</div>