<div class="search-box hotel-search">

    <div class="row">

        <div class="col-xxs-24 col-md-8">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-map-marker"></i>
                </div>

                <div class="col-case">
                    <input type="text" class="form-control fixed-control" placeholder="Otel, Şehir veya Bölge Adı">
                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-7 bordered">

            <div class="table-row datetime-selector">

                <div class="col-fixed center">
                    <i class="fa fa-calendar"></i>
                </div>

                <div class="col-case fixed-case">

                    <input type="text" class="daterange" value="" readonly="readonly">

                    <div class="table-row">

                        <div class="col-case">
                            <span class="startfocus"></span>
                            <input type="text" class="form-control startdate reset-control date-control" readonly placeholder="Giriş Tarihi">
                        </div>

                        <div class="col-addon icon-addon center">
                            <i class="fa fa-long-arrow-right"></i>
                        </div>

                        <div class="col-case">
                            <span class="endfocus"></span>
                            <input type="text" class="form-control enddate reset-control date-control" readonly placeholder="Çıkış Tarihi">
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-6 bordered">

            <div class="table-row">

                <div class="col-fixed center">
                    <i class="fa fa-users"></i>
                </div>

                <div class="col-case fixed-case element-case">

                    <!-- @@include partial/normal-human.html -->

                </div>

            </div>

        </div>

        <div class="col-xxs-24 col-md-3">
            <button class="btn btn-orange btn-block btn-sharp">
                <i class="fa fa-search"></i> ARA
            </button>
        </div>

    </div>

</div>