<footer id="footer">
    <section class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-xs-12 col-xxs-24 menu-wrapper">
                    <ul class="menu bold">
                        <li><a href="" title="Hakkımızda">Hakkımızda</a></li>
                        <li><a href="" title="İletişim">İletişim</a></li>
                        <li><a href="" title="İnsan Kaynakları">İnsan Kaynakları</a></li>
                        <li><a href="" title="Müşteri İlişkileri">Müşteri İlişkileri</a></li>
                        <li><a href="" title="Hakkımızda">Hakkımızda</a></li>
                        <li><a href="" title="İletişim">İletişim</a></li>
                        <li><a href="" title="İnsan Kaynakları">İnsan Kaynakları</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 col-xxs-24 menu-wrapper">
                    <ul class="menu bold">
                        <li><a href="" title="Satış Ofisleri">Satış Ofisleri</a></li>
                        <li><a href="" title="Satış Ofisi Başvuru Formu">Satış Ofisi Başvuru Formu</a></li>
                        <li><a href="" title="Grup Rezervasyon Talebi">Grup Rezervasyon Talebi</a></li>
                        <li><a href="" title="Banka Hesaplarımız">Banka Hesaplarımız</a></li>
                        <li><a href="" title="Satış Ofisleri">Satış Ofisleri</a></li>
                        <li><a href="" title="Satış Ofisi Başvuru Formu">Satış Ofisi Başvuru Formu</a></li>
                        <li><a href="" title="Grup Rezervasyon Talebi">Grup Rezervasyon Talebi</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 col-xxs-24 menu-wrapper">
                    <ul class="menu">
                        <li><a href="" title="Tatil Kampanyaları">Tatil Kampanyaları</a></li>
                        <li><a href="" title="Nasıl Rezervasyon Yapılır?">Nasıl Rezervasyon Yapılır?</a></li>
                        <li><a href="" title="En İyi Fiyat Garantisi">En İyi Fiyat Garantisi</a></li>
                        <li><a href="" title="Kullanıcı Sözleşmesi">Kullanıcı Sözleşmesi</a></li>
                        <li><a href="" title="Tatil Kampanyaları">Tatil Kampanyaları</a></li>
                        <li><a href="" title="Nasıl Rezervasyon Yapılır?">Nasıl Rezervasyon Yapılır?</a></li>
                        <li><a href="" title="En İyi Fiyat Garantisi">En İyi Fiyat Garantisi</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 col-xxs-24 menu-wrapper">
                    <ul class="menu">
                        <li><a href="" title="Gizlilik Sözleşmesi">Gizlilik Sözleşmesi</a></li>
                        <li><a href="" title="Tur/ Otel Satış Sözleşmesi">Tur/ Otel Satış Sözleşmesi</a></li>
                        <li><a href="" title="Kütahya Çizelgesi">Kütahya Çizelgesi</a></li>
                        <li><a href="" title="Rezervasyon Kontrol">Rezervasyon Kontrol</a></li>
                        <li><a href="" title="Gizlilik Sözleşmesi">Gizlilik Sözleşmesi</a></li>
                        <li><a href="" title="Tur/ Otel Satış Sözleşmesi">Tur/ Otel Satış Sözleşmesi</a></li>
                        <li><a href="" title="Kütahya Çizelgesi">Kütahya Çizelgesi</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 col-xxs-24 menu-wrapper">
                    <ul class="menu">
                        <li><a href="" title="Tatil Kampanyaları">Tatil Kampanyaları</a></li>
                        <li><a href="" title="Nasıl Rezervasyon Yapılır?">Nasıl Rezervasyon Yapılır?</a></li>
                        <li><a href="" title="En İyi Fiyat Garantisi">En İyi Fiyat Garantisi</a></li>
                        <li><a href="" title="Kullanıcı Sözleşmesi">Kullanıcı Sözleşmesi</a></li>
                        <li><a href="" title="Tatil Kampanyaları">Tatil Kampanyaları</a></li>
                        <li><a href="" title="Nasıl Rezervasyon Yapılır?">Nasıl Rezervasyon Yapılır?</a></li>
                        <li><a href="" title="En İyi Fiyat Garantisi">En İyi Fiyat Garantisi</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 col-xxs-24 menu-wrapper">
                    <ul class="menu">
                        <li><a href="" title="Gizlilik Sözleşmesi">Gizlilik Sözleşmesi</a></li>
                        <li><a href="" title="Tur/ Otel Satış Sözleşmesi">Tur/ Otel Satış Sözleşmesi</a></li>
                        <li><a href="" title="Kütahya Çizelgesi">Kütahya Çizelgesi</a></li>
                        <li><a href="" title="Rezervasyon Kontrol">Rezervasyon Kontrol</a></li>
                        <li><a href="" title="Gizlilik Sözleşmesi">Gizlilik Sözleşmesi</a></li>
                        <li><a href="" title="Tur/ Otel Satış Sözleşmesi">Tur/ Otel Satış Sözleşmesi</a></li>
                        <li><a href="" title="Kütahya Çizelgesi">Kütahya Çizelgesi</a></li>
                    </ul>
                </div>
                <div class="col-xxs-24">
                    <div class="info">
                        <span class="text">Afişe edilen tüm fiyatlar, ilgili üründe kontenjan olması durumunda geçerli olup seçeceğiniz döneme göre değişkenlik gösterebilir.</span>
                        <span class="ref">Referans No : <b>273 719 163</b></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <div class="logos">
                <i class="tb-logo"></i>
                <img class="img" src="images/footer-logos.png" alt=""/>
            </div>
            <div class="copy">
                Copyright © 1997-2016 TatilBudur.com. Tüm hakları saklıdır. TatilBudur.com bir Mika Tur web sitesidir.
            </div>
        </div>
    </section>
</footer>