<header id="header">
    <div class="container">
        <div class="pre-header">
            <span class="call-center"><i class="tb tb-callcenter"></i> 24 Saat Çağrı Merkezi Hizmeti</span>
            <span class="phone-number">0 850 333 3 333</span>
        </div>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="has-sub">
                        <a href="" title="OTEL">OTEL <i class="arrow-dropdown"></i></a>
                        <div class="mega-menu">
                            <div class="row table-row menu-wrapper-outer">
                                <div class="col-md-4 col-sm-6 col-xxs-12 menu-wrapper">
                                    <h4 class="menu-title">Yurtiçi Otelleri</h4>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="" title="Alanya Otelleri">Alanya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Antalya Otelleri">Antalya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Assos Otelleri">Assos Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Ayvalık Otelleri">Ayvalık Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Belek Otelleri">Belek Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Bodrum Otelleri">Bodrum Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Çeşme Otelleri">Çeşme Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Dalaman Otelleri">Dalaman Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Dalyan Otelleri">Dalyan Otelleri</a>
                                        </li>
                                    </ul>
                                    <a href="" class="image-box">
                                        <img class="img-responsive img" src="images/mega-menu-thumbnail1.jpg" alt="">
                                        <span class="text">Tümünü İncele <i class="tb tb-arrow-right"></i></span>
                                    </a>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xxs-12 menu-wrapper">
                                    <h4 class="menu-title">Şehir Otelleri</h4>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="" title="Alanya Otelleri">Alanya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Antalya Otelleri">Antalya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Assos Otelleri">Assos Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Ayvalık Otelleri">Ayvalık Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Belek Otelleri">Belek Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Bodrum Otelleri">Bodrum Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Çeşme Otelleri">Çeşme Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Dalaman Otelleri">Dalaman Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Dalyan Otelleri">Dalyan Otelleri</a>
                                        </li>
                                    </ul>
                                    <a href="" class="image-box">
                                        <img class="img-responsive img" src="images/mega-menu-thumbnail2.jpg" alt="">
                                        <span class="text">Tümünü İncele <i class="tb tb-arrow-right"></i></span>
                                    </a>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xxs-12 menu-wrapper">
                                    <h4 class="menu-title">Kıbrıs Otelleri</h4>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="" title="Alanya Otelleri">Alanya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Antalya Otelleri">Antalya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Assos Otelleri">Assos Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Ayvalık Otelleri">Ayvalık Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Belek Otelleri">Belek Otelleri</a>
                                        </li>
                                    </ul>
                                    <a href="" class="image-box">
                                        <img class="img-responsive img" src="images/mega-menu-thumbnail3.jpg" alt="">
                                        <span class="text">Tümünü İncele <i class="tb tb-arrow-right"></i></span>
                                    </a>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xxs-12 menu-wrapper">
                                    <h4 class="menu-title">Termal Oteller</h4>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="" title="Alanya Otelleri">Alanya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Antalya Otelleri">Antalya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Assos Otelleri">Assos Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Ayvalık Otelleri">Ayvalık Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Belek Otelleri">Belek Otelleri</a>
                                        </li>
                                    </ul>
                                    <a href="" class="image-box">
                                        <img class="img-responsive img" src="images/mega-menu-thumbnail4.jpg" alt="">
                                        <span class="text">Tümünü İncele <i class="tb tb-arrow-right"></i></span>
                                    </a>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xxs-12 menu-wrapper">
                                    <h4 class="menu-title">Yakın Bölge Otelleri</h4>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="" title="Alanya Otelleri">Alanya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Antalya Otelleri">Antalya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Assos Otelleri">Assos Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Ayvalık Otelleri">Ayvalık Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Belek Otelleri">Belek Otelleri</a>
                                        </li>
                                    </ul>
                                    <a href="" class="image-box">
                                        <img class="img-responsive img" src="images/mega-menu-thumbnail5.jpg" alt="">
                                        <span class="text">Tümünü İncele <i class="tb tb-arrow-right"></i></span>
                                    </a>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xxs-12 menu-wrapper">
                                    <h4 class="menu-title">Otel Kategorileri</h4>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="" title="Alanya Otelleri">Alanya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Antalya Otelleri">Antalya Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Assos Otelleri">Assos Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Ayvalık Otelleri">Ayvalık Otelleri</a>
                                        </li>
                                        <li>
                                            <a href="" title="Belek Otelleri">Belek Otelleri</a>
                                        </li>
                                    </ul>
                                    <a href="" class="image-box">
                                        <img class="img-responsive img" src="images/mega-menu-thumbnail6.jpg" alt="">
                                        <span class="text">Tümünü İncele <i class="tb tb-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li><a href="#" title="TUR">TUR</a></li>
                    <li><a href="#" title="GEMİ">GEMİ</a></li>
                    <li><a href="#" title="UÇAK">UÇAK</a></li>
                    <li><a href="#" title="ERKEN REZERVASYON">ERKEN REZERVASYON</a></li>
                    <li><a href="#" title="KAMPANYA">KAMPANYA</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" title="GİRİŞ YAP">GİRİŞ YAP</a></li>
                    <li class="register-link">
                        <a href="" title="ÜYE OL">ÜYE OL <i class="tb tb-bell"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>