<!-- @@master  = ./shared/_layout.html-->

<!-- @@block  =  content-->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <img class="card-img-top" src="../assets/img/sample-hotel.jpg" alt="Card image cap">
                <div class="card-block">
                    <div class="left-block col-md-14">
                        <h4 class="card-title">Merit Palace Hotel</h4>
                        <p class="card-text">Antalya,Lara | <span class="text green">Ultra Herşey Dahil</span></p>
                    </div>
                    <div class="right-block col-md-10">
                        <span class="price disabled">
                            1.849,00 TL
                        </span>
                        <span class="price">
                            749,90 TL
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <img class="card-img-top" src="../assets/img/sample-hotel.jpg" alt="Card image cap">
                <div class="card-block">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><div class="card">
            <img class="card-img-top" src="../assets/img/sample-hotel.jpg" alt="Card image cap">
            <div class="card-block">
                
            </div>
        </div></div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="../assets/img/sample-hotel.jpg" alt="Card image cap">
                <div class="card-block">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="../assets/img/sample-hotel.jpg" alt="Card image cap">
                <div class="card-block">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- @@close-->
