// general
@card-font-color: #1c1823;
@card-font-size: 14px;
@card-small-font-size: 10px;
@card-margin-width: 10px;
@card-border-color: #cccccc;

// content
@card-vertical-gutter: 10px;
@card-horizontal-gutter: 10px;

// column
@card-column-vertical-gutter: 6px;
@card-column-horizontal-gutter: 5px;

// title
@card-title-font-size: 16px;
@card-small-title-font-size: 12px;
@card-title-font-weight: 600;

// overlay title
@card-overlay-title-font-size: 20px;
@card-overlay-small-title-font-size: 18px;
@card-overlay-title-font-color: #ffffff;
@card-overlay-title-font-weight: 600;

// fixed column
@card-fixed-column-width: 130px;
@card-medium-fixed-column-width: 115px;
@card-small-fixed-column-width: 90px;

// extensions
@import "_card-item/price-group.less";

.card-item {
  position: relative;
  color: @card-font-color;
  font-size: @card-font-size;
  border: solid 1px @card-border-color;
  margin: @card-margin-width 0;

  // small card
  &.small-card {
    font-size: @card-small-font-size;

    .card-title {
      font-size: @card-small-title-font-size;
    }

    .card-content {
      padding-left: 5px;
      padding-right: 5px;

      > .card-column {

        &.fixed-column {
          .responsive-min-xs({
            width: @card-small-fixed-column-width;
          });
        }

      }

    }

  }

  // medium card
  &.medium-card {

    .card-content {

      > .card-column {

        &.fixed-column {
          .responsive-min-xs({
            width: @card-medium-fixed-column-width;
          });
        }

      }

    }

  }

  // grid, figure and content
  .card-grid,
  .card-figure,
  .card-content {
    position: relative;
  }

  // grid
  .card-grid {
    display: block;

    .responsive-min-sm({
      display: table;
      table-layout: fixed;
      width: 100%;
    });

    > .card-column {
      display: block;

      .responsive-min-sm({
        display: table-cell;
        vertical-align: top;
        padding: 0 5px;

        &:first-child {
          padding: 0 10px 0 0;
        }

        &:last-child {
          padding: 0 0 0 10px;
        }

        &.column-center {
          vertical-align: middle;
        }

      });

    }

  }

  // figure
  .card-figure {
    margin: -1px;

    // image
    > .card-image {
      display: block;
      width: 100%;
    }

    // overlay
    > .card-overlay {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &.overlay-top {
        background: url('../img/card-inline-top-overlay.png') top repeat-x;

        > .overlay-content {
          top: 0;
        }

      }

      &.overlay-bottom {
        background: url('../img/card-inline-bottom-overlay.png') bottom repeat-x;

        > .overlay-content {
          bottom: 0;
        }

      }

      // inline
      > .overlay-content {
        position: absolute;
        left: 0;
        right: 0;

        .card-title {
          color: @card-overlay-title-font-color;
          font-size: @card-overlay-title-font-size;
          font-weight: @card-overlay-title-font-weight;

          &.small-title {
            font-size: @card-overlay-small-title-font-size;
          }

        }

        .right-link {
          padding: 0 0 1px;
          color: #33ccff;
          font-size: 12px;
          font-weight: 600;
          text-decoration: none;
          white-space: nowrap;

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
          }

          &.bordered-link {
            border-bottom: solid 1px #33ccff;

            &:hover,
            &:focus,
            &:active {
              border-bottom-color: transparent;
            }
          }

          > i,
          > span {
            display: inline;
            vertical-align: middle;
          }

          > i {
            margin-left: 3px;
            font-size: 15px;
          }

        }

      }

    }

  }

  // content
  .card-content {
    padding: @card-vertical-gutter @card-horizontal-gutter;
    display: table;
    border-collapse: separate;
    width: 100%;

    &.equal-column {
      table-layout: fixed;
    }

    // fifty
    &.vertical-fifty {
      padding-top: (@card-vertical-gutter/2);
      padding-bottom: (@card-vertical-gutter/2);
    }

    &.horizontal-fifty {
      padding-left: (@card-horizontal-gutter/2);
      padding-right: (@card-horizontal-gutter/2);
    }

    &.both-fifty {
      padding: (@card-vertical-gutter/2) (@card-horizontal-gutter/2);
    }

    // narrow
    &.vertical-narrow {
      padding-top: 0;
      padding-bottom: 0;

      > .card-column {
        padding-top: 0;
        padding-bottom: 0;
      }

    }

    &.horizontal-narrow {
      padding-left: 0;
      padding-right: 0;

      > .card-column {
        padding-left: 0;
        padding-right: 0;
      }

    }

    // responsive narrow
    .responsive-min-sm({

      &.narrow-left {
        padding-left: 0;

        > .card-column {
          padding-left: 0;
        }

      }

      &.narrow-right {
        padding-right: 0;

        > .card-column {
          padding-right: 0;
        }

      }

      &.narrow-top {
        padding-top: 0;

        > .card-column {
          padding-top: 0;
        }

      }

      &.narrow-bottom {
        padding-bottom: 0;

        > .card-column {
          padding-bottom: 0;
        }

      }

    });

    // normal column
    > .card-column {
      display: table-cell;
      padding: @card-column-vertical-gutter @card-column-horizontal-gutter;

      &.wide-column {
        width: 1000px;
      }

      &.fixed-column {
        .responsive-min-xs({
          width: @card-fixed-column-width;
        });
      }

    }

    // centered
    &.centered-column {

      > .card-column {
        vertical-align: middle;
      }

    }

    // separated
    &.separated-column {

      > .card-column {
        border-right: solid 1px @card-border-color;

        &:last-child {
          border-right: 0;
        }

      }

    }

    // responsive
    &.responsive-column {

      .responsive-max-xxs({

        > .card-column {
            display: block;

          &.wide-column {
            width: auto;
          }

        }

        &.separated-column {

          > .card-column {
            border-right: 0;
            border-bottom: solid 1px @card-border-color;

            &:last-child {
              border-bottom: 0;
            }

          }

        }

      });

    }

  }

  // title
  .card-title {
    padding: 0;
    margin: 0;
    font-size: @card-title-font-size;
    font-weight: @card-title-font-weight;
  }

  // specifications
  .card-specifications {
    display: block;
    margin-top: 5px;

    > span {
      display: inline-block;
      margin-right: 2px;
      line-height: 12px;
    }

    &.separated-specification {

      > span {
        border-right: solid 1px @card-border-color;
        padding-right: 5px;

        &:last-child {
          border-right: 0;
        }

      }

    }

  }

  // sticky
  .card-sticky {
    position: absolute;
    padding: 10px 0;
    top: -3px;
    right: 6px;
    width: 47px;
    height: 61px;
    color: #fff;
    font-size: 10px;
    text-align: center;

    p {
      margin: 0;
      line-height: 15px;
    }

    span {
      margin: 0 0 0 3px;
      font-size: 20px;
    }

    &.green-sticky {
      background: url('../img/hotel-green-sticky.png') no-repeat;
    }

  }

}