<div class="card-item">

    <div class="card-figure">

        <img class="card-image" src="images/tour-page/<!-- @@var image -->" alt="">

        <div class="card-overlay overlay-top">

            <div class="overlay-content">

                <div class="card-content">

                    <div class="card-column wide-column">
                        <h3 class="card-title small-title"><!-- @@var title --></h3>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="card-content vertical-fifty">

        <div class="card-column">

            <ul class="location-list narrow-list large-list bordered-list">

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Ege Akdeniz Turları</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Eskişehir Turları</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Ankara Çıkışlı Turlar</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Batı Karadeniz Turları</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Bursa Çıkışlı Turlar</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Ege Akdeniz Turları</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Eskişehir Turları</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link">
                        <span class="inner-span">Eskişehir Turları</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

                <li class="location-item">
                    <a href="" title="" class="location-link link-inverse">
                        <span class="inner-span">Tümünü İncele</span>
                        <span class="right-span">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>