<div class="human-select">
    <div class="human-caption">2 Yetişkin - 0 Çocuk</div>
    <div class="human-wrapper">
        <label>
            <span>Yetişkin:</span>
            <select name="" class="adult">
                <option value="1">1</option>
                <option value="2" selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </label>
        <label>
            <span>Çocuk:</span>
            <select name="" class="child-num">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <div class="new-child"></div>
    </div>
</div>