<section class="primary-carousel">

    <div class="owl-carousel owl-theme">
        <div class="item"><img class="img-responsive" src="images/banner-image3.jpg" alt="TatilBudur"></div>
        <div class="item"><img class="img-responsive" src="images/banner-image3.jpg" alt="TatilBudur"></div>
        <div class="item"><img class="img-responsive" src="images/banner-image3.jpg" alt="TatilBudur"></div>
    </div>

    <div class="search-wrapper container">
        <!-- @@include search-tab.html -->
    </div>

</section>