<div class="primary-section bordered-section">

    <h4 class="section-title">TEMALAR</h4>

    <div class="section-body">

        <div class="link-header">
            <span>“Farklı zevklere ve ihtiyaçlara yönelik otelleri inceleyebilirsiniz.”</span>
        </div>

        <div class="link-list">

            <a href="" title="" class="link-item">
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>İstanbula Yakın Oteller</span>
                <small>300 Tesis</small>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <a href="" title="" class="link-item">
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>İstanbula Yakın Oteller</span>
                <small>300 Tesis</small>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <a href="" title="" class="link-item">
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>İstanbula Yakın Oteller</span>
                <small>300 Tesis</small>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <a href="" title="" class="link-item">
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>İstanbula Yakın Oteller</span>
                <small>300 Tesis</small>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <a href="" title="" class="link-item">
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>İstanbula Yakın Oteller</span>
                <small>300 Tesis</small>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <a href="" title="" class="link-item">
                <i class="fa fa-map" aria-hidden="true"></i>
                <span>İstanbula Yakın Oteller</span>
                <small>300 Tesis</small>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <a href="" title="" class="link-item all-links">
                <span>Tüm Temaları İncele</span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

        </div>

    </div>

</div>