<div class="primary-section bordered-section">

    <h4 class="section-title">TEMALAR</h4>

    <div class="section-body">

        <div class="section-well">
            <span>“Farklı zevklere ve ihtiyaçlara yönelik otelleri inceleyebilirsiniz.”</span>
        </div>

        <ul class="location-list bordered-list">

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="left-span">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </span>
                    <span class="inner-span">İstanbula Yakın Oteller<br><small>300 Tesis</small></span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="left-span">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </span>
                    <span class="inner-span">İstanbula Yakın Oteller<br><small>300 Tesis</small></span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="left-span">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </span>
                    <span class="inner-span">İstanbula Yakın Oteller<br><small>300 Tesis</small></span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="left-span">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </span>
                    <span class="inner-span">İstanbula Yakın Oteller<br><small>300 Tesis</small></span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="left-span">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </span>
                    <span class="inner-span">İstanbula Yakın Oteller<br><small>300 Tesis</small></span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="left-span">
                        <i class="fa fa-map" aria-hidden="true"></i>
                    </span>
                    <span class="inner-span">İstanbula Yakın Oteller<br><small>300 Tesis</small></span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link link-inverse">
                    <span class="inner-span right-text">Tüm Temaları İncele</span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

        </ul>

    </div>

</div>