<div class="primary-section bordered-section">

    <h3 class="section-title">BÖLGELER</h3>

    <div class="section-body">

        <ul class="location-list responsive-list guttered-list">

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link">
                    <span class="inner-span">Alanya Otelleri<br>300 Tesis</span>
                </a>
            </li>

            <li class="location-item">
                <a href="" title="" class="location-link link-inverse">
                    <span class="inner-span normal-span">Tümünü İncele</span>
                    <span class="right-span">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

        </ul>

    </div>

</div>