<section class="home-hotels-section">

    <div class="primary-section card-list-section">

        <h3 class="section-title">OTELLER</h3>

        <div class="section-body">

            <div class="row">

                <div class="col-md-18">

                    <div class="row">

                        <div class="col-md-13">
                            <!-- @@include hotel-item.html {"image" : "large"} -->
                        </div>

                        <div class="col-md-11">
                            <!-- @@include hotel-item.html {"image" : "medium", "class" : "medium-card"} -->
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-8">
                            <!-- @@include hotel-item.html {"image" : "small", "class" : "small-card"} -->
                        </div>

                        <div class="col-md-8">
                            <!-- @@include hotel-item.html {"image" : "small", "class" : "small-card"} -->
                        </div>

                        <div class="col-md-8">
                            <!-- @@include hotel-item.html {"image" : "small", "class" : "small-card"} -->
                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="notify notify-danger">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span>SON DAKİKA FIRSATLARI</span>
                    </div>

                    <!-- @@include last-reservations.html -->

                </div>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-24">

            <!-- @@include holiday-areas.html -->

        </div>

    </div>

    <div class="primary-section card-list-section">

        <h3 class="section-title">TURLAR</h3>

        <div class="section-body">

            <div class="row">

                <div class="col-md-18">

                    <div class="row">

                        <div class="col-md-16">

                            <!-- @@include tour-item.html {"image" : "budapeste", "title" : "Yurt Dışı Turları"} -->

                        </div>

                        <div class="col-md-8">

                            <!-- @@include tour-item.html {"image" : "gemi", "title" : "Gemi Turları"} -->

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-8">

                            <!-- @@include tour-item.html {"image" : "mavi", "title" : "Mavi Yolculuk"} -->

                        </div>

                        <div class="col-md-16">

                            <!-- @@include tour-item.html {"image" : "kultur", "title" : "Kültür Turları"} -->

                        </div>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="notify notify-warning">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span>SEZON SONUNA ÖZEL</span>
                    </div>

                    <!-- @@include holiday-themes.html -->

                </div>

            </div>

        </div>

    </div>

</section>