<div class="card-item <!-- @@var class -->">

    <div class="card-figure">

        <img class="card-image" src="images/hotel/<!-- @@var image -->.png" alt="">

        <div class="card-sticky green-sticky">
            <p>%<span>60</span></p>
            <p>İNDİRİM</p>
        </div>

    </div>

    <div class="card-content responsive-column centered-column separated-column">

        <div class="card-column">
            <h3 class="card-title">Merit Palace Hotel</h3>
            <div class="card-specifications separated-specification">
                <span>Antalya, Lara</span>
                <span>Ultra Her Şey Dahil</span>
            </div>
        </div>

        <div class="card-column fixed-column">
            <div class="price-group">
                <span class="old-price">1.849.90 TL</span>
                <span class="current-price">849.90 TL</span>
            </div>
        </div>

    </div>

</div>