<div class="hotel-item <!-- @@var class -->">

    <div class="hotel-header">

        <img class="hotel-image" src="images/hotel/<!-- @@var image -->.png" alt="">

        <div class="hotel-sticky green-sticky">
            <p>%<span>60</span></p>
            <p>İNDİRİM</p>
        </div>

    </div>

    <div class="hotel-footer">

        <div class="hotel-column first-column">
            <h3 class="hotel-title">Merit Palace Hotel</h3>
            <div class="hotel-specifications">
                <span class="hotel-location">Antalya, Lara</span>
                <span class="hotel-class">Ultra Her Şey Dahil</span>
            </div>
        </div>

        <div class="hotel-column price-column">
            <div class="price-group">
                <span class="old-price">1.849.90 TL</span>
                <span class="current-price">849.90 TL</span>
            </div>
        </div>

    </div>

</div>