<div class="sidebar">

    <h4 class="sidebar-title">SON REZERVASYONLAR</h4>

    <div class="sidebar-case">

        <div class="media-list">

            <div class="media-item">

                <div class="media-image">
                    <img class="" src="images/hotel/last.png" alt="">
                </div>

                <div class="media-content">
                    <span>Ankara'dan Bir Ziyaretçi</span>
                    <a href="" title="">Merit Palace Hotel</a>
                    <span>tesisinden az önce yer ayırttı.</span>
                </div>

            </div>

            <div class="media-item">

                <div class="media-image">
                    <img class="" src="images/hotel/last.png" alt="">
                </div>

                <div class="media-content">
                    <span>Ankara'dan Bir Ziyaretçi</span>
                    <a href="" title="">Merit Palace & Residence Hotel</a>
                    <span>tesisinden az önce yer ayırttı.</span>
                </div>

            </div>

            <div class="media-item">

                <div class="media-image">
                    <img class="" src="images/hotel/last.png" alt="">
                </div>

                <div class="media-content">
                    <span>Ankara'dan Bir Ziyaretçi</span>
                    <a href="" title="">Merit Palace Hotel</a>
                    <span>tesisinden az önce yer ayırttı.</span>
                </div>

            </div>

            <div class="media-item">

                <div class="media-image">
                    <img class="" src="images/hotel/last.png" alt="">
                </div>

                <div class="media-content">
                    <span>Ankara'dan Bir Ziyaretçi</span>
                    <a href="" title="">Merit Palace Hotel</a>
                    <span>tesisinden az önce yer ayırttı.</span>
                </div>

            </div>

            <div class="media-item">

                <div class="media-image">
                    <img class="" src="images/hotel/last.png" alt="">
                </div>

                <div class="media-content">
                    <span>Ankara'dan Bir Ziyaretçi</span>
                    <a href="" title="">Merit Palace Hotel</a>
                    <span>tesisinden az önce yer ayırttı.</span>
                </div>

            </div>

        </div>

    </div>

</div>