<!-- Nav tabs -->
<ul class="nav gray-nav-tabs narrow" role="tablist">
    <li role="presentation" class="active">
        <a href="#hotel" aria-controls="home" role="tab" data-toggle="tab">OTEL</a>
    </li>
    <li role="presentation">
        <a href="#tour" aria-controls="profile" role="tab" data-toggle="tab">TUR</a>
    </li>
    <li role="presentation">
        <a href="#airplane" aria-controls="messages" role="tab" data-toggle="tab">UÇAK</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content gray-tab-content narrow">
    <div role="tabpanel" class="tab-pane active" id="hotel">
        <!-- @@include search-partial/hotel-search.html -->
    </div>
    <div role="tabpanel" class="tab-pane" id="tour">
        <!-- @@include search-partial/tour-search.html -->
    </div>
    <div role="tabpanel" class="tab-pane" id="airplane">
        <!-- @@include search-partial/airplane-search.html -->
    </div>
</div>