<section class="services">
    <div class="row">
        <div class="col-md-5 col-sm-6 col-xxs-12 col-md-offset-2">
            <div class="service-item">
                <div class="icon-wrapper">
                    <i class="tb tb-price-01 icon"></i>
                </div>
                <span class="text">En İyi Fiyat Garantisi</span>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xxs-12">
            <div class="service-item">
                <div class="icon-wrapper">
                    <i class="tb tb-security icon"></i>
                </div>
                <span class="text">Güvenli Online Alışveriş</span>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xxs-12">
            <div class="service-item">
                <div class="icon-wrapper">
                    <i class="tb tb-insurance icon"></i>
                </div>
                <span class="text">Erken Rezervasyon İptal Sigortası</span>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xxs-12">
            <div class="service-item">
                <div class="icon-wrapper">
                    <i class="tb tb-call icon"></i>
                </div>
                <span class="text">7 / 24 Çağrı Hizmeti </span>
            </div>
        </div>
    </div>
</section>