<div class="subscribe">
    <form action="">
        <h4 class="title">Kampanyalarımızdan ilk sizin haberiniz olsun!</h4>
        <div class="input-group">
            <input class="form-control input" id="subscribeEmail" placeholder="E-Posta Adresiniz">
            <span class="input-group-addon"><button class="submit-button btn btn-orange btn-sharp" type="submit"><i class="fa fa-paper-plane"></i> GÖNDER</button></span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Fırsat ve kampanyalardan haberdar olmak istiyorum.
                <a class="detail" href="" title="Detaylı bilgi">Detaylı bilgi</a>
            </label>
        </div>
    </form>
</div>