<div class="card-item">

    <div class="card-header">

        <img class="card-image" src="images/tour/<!-- @@var image -->.png" alt="">
        <span class="card-shadow"></span>

    </div>

    <div class="card-inline">

        <div class="card-footer responsive-column centered-column">

            <div class="card-column wide-column">
                <h3 class="card-title"><!-- @@var title --></h3>
            </div>

            <div class="card-column">
                <a href="" title="" class="right-link bordered-link">
                    <span class="inner-span">Tümünü İncele</span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>

        </div>

    </div>

</div>